* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 25%, #2d0005 0%, #2d0005 25%, #1a0003 50%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, #2d0005 0%, #2d0005 25%, #1a0003 50%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, #2d0005 0%, #2d0005 25%, #1a0003 50%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, #2d0005 0%, #2d0005 25%, #1a0003 50%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, #160103 0%, #160103 25%, #110002 50%);
}

.gradient__text {
  font-family: sans-serif;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 0rem 6rem;
}

.section__margin {
  border-radius: 50px 0px 50px 0px;
  margin: 6rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in {
  opacity: 0 !important;
  transform: translateY(20px) !important;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out !important;
}

.fade-in.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.fade-right {
  opacity: 0 !important;
  transform: translateX(130) !important;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out !important;
}

.fade-right.visible {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.fade-left {
  opacity: 0 !important;
  transform: translateX(-130) !important;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out !important;
}

.fade-left.visible {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.custom-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 10px solid #7a0303; /* Dark red color */
  border-radius: 50%;
  border-top: 8px solid transparent;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 0rem 6rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}